$banner-bg: rgba(58,56,119,0.5);
$banner-text-color: $white;

section[role=banner] {
	background-repeat:no-repeat;
	background-size:cover;
	color:$banner-text-color;
	position: relative;
	&:before {
		background-color: $banner-bg;
		content: '';
		height: 100%;
		position: absolute;
		width: 100%;
	}
	.banner-content {
		padding:150px 0 75px;		
		overflow: hidden;
		@include media($bp-large) {
			padding:250px 0 150px;
		}
	}
	.contact {
		.secondary {
			background-color:$white;
			bottom:0;
			@include media($bp-large) {
				left:30%;
				width:40%;
				position:absolute;
			}	
			margin:0 auto;
			padding:0 40px 0px;
		}
	}	
	.button {
		color: $banner-text-color;
	}
}