section[role=banner] {
	background-repeat:no-repeat;
	background-size:cover;
	color:$banner-text-color;
	position: relative;
	&:before {
		background-color: $banner-bg;
		content: '';
		height: 100%;
		position: absolute;
		width: 100%;
	}
	.banner-content {
		padding:150px 0 75px;		
		overflow: hidden;
		@include media($bp-large) {
			padding:250px 0 150px;
		}
	}
	.contact {
		.banner-content { 
			padding-bottom:0;
		}
	}	
	.button {
		color: $banner-text-color;
	}
}