$banner-bg: rgba(58,56,119,0.5);
$banner-text-color: $white;

section[role=banner] {
	background-repeat:no-repeat;
	background-size:cover;
	color:$banner-text-color;
	position: relative;
	&:before {
		background-color: $banner-bg;
		content: '';
		height: 100%;
		position: absolute;
		width: 100%;
	}
	.banner-content {
		padding:150px 0 75px;		
		@include media($bp-large) {
			padding:250px 0 150px;
		}
		overflow:hidden;
	}
	.button {
		color: $banner-text-color;
	}
}