$compound-border-color:#cdcdcd;
$compound-header-bg:#fafafa;
$pop-up-border-color:#afafaf;

.back-to-products {
	display: inline-block;
	font-weight:bold;
	@include media($bp-large) {
		float: right;
		margin-top: 2.25em;
	}
	text-transform:uppercase;
}

.compounds {
	.compound-box {
		margin-top:5px;
		margin-bottom:50px;
		&#compound-box-2 {
			border:1px solid $compound-border-color;
		}
		&.compound-list {
			padding:20px;
		}
		.recipe-form {
			section {
				padding:20px;
				border:1px solid $compound-border-color;
				border-top:none;
				&.compound-header {
					background:$compound-header-bg;
				}
				&:nth-of-type(1) {
					border-top:1px solid $compound-border-color;
				}
				&.compound-sizes {
					margin-bottom:0;
					li {
						display:inline-block;
						margin-right:10px;
					}
				}
			}
		}
	}
	ul {
		list-style:none;
		margin-left:0;
		padding-left: 0;
		overflow: hidden;
	li {
			margin-left:0;
		}
	}
}

.compound-list {
	height:800px;
	overflow-y:auto;
	ul {
		margin-top:0;
		&.product-list {
			width:100%;
			float:left;
			li {
				a {
					display: inline-block;
					position: relative;
					margin-right: 5px;
					padding-left:25px;
					&:before {
						content:"";
						position:absolute;
						background:url(dist/images/check-on-off.png) no-repeat;
						width:18px;
						height:18px;
						left:0px;
						top:0px;
						display:block;
					}
					&.added {
						&:before {
							background-position:-19px 0px;
						}
					}
				}
			}
		}
		&.alphabets-list {
			width: 20px;
			float: left;
			margin: 2em 0;
			padding-top: 2em;
			text-align: center;
			position: absolute;
			right: 24px;
			&:before {
				content:"";
				background:url(dist/images/search-icon.png) no-repeat;
				background-size: 100%;
				left: 0;
				height: 20px;
				position: absolute;
				width: 20px;
				top: 5px;
			}
			li {
				margin-bottom:0;
				font-size:0.8em;
				a {
					color:$alphabets-link-color;
					&.active {
						font-weight:bold;
					}
				}
			}
		}
		li {
			margin-left:0;
		}
	}
}
.additions {
	& ul li {
		overflow: hidden;
		.box {
			float:left;
			&:nth-child(1) {
				width:10%;
			}
			&:nth-child(2) {
				margin-right:5%;
				width:50%;
			}
			&:nth-child(3) {
				width:35%;
				input{
					width:70px;
				}
			}
		}
		a {
			display: inline-block;
			font-size:10px;
			line-height: 2em;
			top: -2px;
			margin-right: 5px;
			padding-left:0;		
			position: relative;
			width: 15px;
			text-align:center;
			&:before {
				background:none;
				border:1px solid;
				@include border-radius(50%);
				content: "\f00d";
				display:block;
				left:0px;
				height:15px;
				position:absolute;
				width:15px;
				top:2px;
				text-indent:-9999px;
			}
		}
	}
}

.popup-compound {
	background:$white;
	border:1px solid $pop-up-border-color;
	@include box-shadow(0 0 2px rgba(0, 0, 0, 0.4) inset);
	display:none;
	left:0;
	padding:60px 30px 30px;
	position:absolute;
	text-align:center;
	width:100%;
	z-index: 1000;
	.herb-name {
		font-style:italic;
	}
}

.close-button {
	@include border-radius(50%);
	border:1px solid;
	width:25px;
	height:25px;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:1em;
	position:absolute;
	top:15px;
	right:15px;
	&:before {
		content:"\f00d";
		font-family:$icon-font;
	}
}