$oddeven-background: $grey;

.container {
    @include outer-container;
    overflow: hidden;
    position: relative;
    padding: 0 2em 0 2em;
}

.wrapper {
    background-color: $white;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
    @include transition(transform 0.5s);
    &.mm-menu-open {
	 	@include transform(translateX(-300px));
	}
}

.content-grid {
    width:100%;
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        width:75%;
    }	
	float: none;
	margin: 0 auto;
}

.secondary {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }
	section[role=contact-content] & {
		background:$white;
		padding: 40px 40px 50px;
		z-index:1;
		@include media($bp-large) {
			@include span-columns(6.5 of 12);
			float:none;
			margin-left:auto;
			margin-right:auto;
			padding: 40px 60px 50px;
			&:last-child {
				margin-right:auto;
			}
			z-index:2;
		}
	}
}

.column-2 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(2 of 12);
    }
}

.column-3 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }
}

.column-4 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }
}

.column-7 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(7 of 12);
    }
}

.column-8 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(8 of 12);
    }
}

.column-9 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(9 of 12);
		margin-right:40px;
    }
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.block-grid-3 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }
    &:nth-child(3n+1) {
        margin-right: 0;
    }
}

.block-grid-4 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }

    &:nth-child(4n) {
        margin-right: 0;
    }
}

section[role=main] {
    padding: 150px 0 0 0;
}

section[role=content] {
	padding: 195px 0 75px;
	overflow:hidden;
	&:nth-of-type(2) {
		padding-top: 0;
		.single-monograph & {
			padding: 60px 0;
		}
		.home & {
			padding: 60px 0;
		}	
	}
	.about &{
		padding-bottom:0;
	}
	.secondary:nth-of-type(1) {
		margin-left: 0;
		padding-left: 0;
	}
	.course-heading {
		border-bottom:1px solid $base-border-color;
		margin-bottom:2em;
		margin-top:4em;
		overflow:hidden;
		&:nth-of-type(1) {
			margin-top:0px;
		}
	}
	.past-courses {
		.course-heading {
			margin-bottom:0px;
			margin-top:3em;
		}
	}	
}

article {
    @include outer-container;
    //@include pad(0 2em 2em 2em);
    aside {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                margin: 0 0 .5em 0em;
            }
        }
        @include pad(2em 0 0 0);
        @include media($bp-large) {
            @include pad(6.5em 0 0 0);
            @include span-columns(4);
            @include shift(1);
        }
    }
    .description {
        @include media($bp-large) {
            @include span-columns(7);
        }
    }
    .thumb {
		margin-bottom:50px;
        @include media($bp-large) {
            //@include pad(3em 0 0 0);
            @include span-columns(4);
        }
		.img {
			width:100%;
			height:200px;
			@include media($bp-large) {
				height:240px;
			}
			overflow: hidden;
		}
    }
}

.inner {
    padding: 0 0 2em;
    @include media($bp-large) {
        @include span-columns(7);
        @include shift(2.5);
    }
}
.oddeven {
	padding:50px 0 20px;
	@include row();
	&.team {
		&:nth-of-type(odd) {
			background: none;	
		}	
	}
	&:nth-of-type(odd) {
		background: $oddeven-background;	
		.image {
			@include media($bp-large) {
				float: left;
				padding-right:50px;
			}
		}
		.content {
			@include media($bp-large) {
				float: right;
			}
		}
	}
	&:nth-of-type(even) {	
		.image {
			@include media($bp-large) {
				float: right;
				padding-left:50px;
				img {
					float:right;
				}
			}
			.img {
				border-color:$oddeven-background;
			}
		}
		.content {
			@include media($bp-large) {
				float: left;
			}
		}
	}
	.image {
		@include media($bp-large) {
			width: 50%;
		}
		.img {
			width:100%;
			height:175px;	
			@include media($bp-large) {
				height:350px;
			}
			border:10px solid $white;
			overflow:hidden;			
			img {
				height: auto;
				width: 100%;
			}
		}
	}	
    .content {
		@include media($bp-large) {
			width: 50%;
		}
		padding-top:20px;
		ul {
			padding-left:0;
			li {
				margin-left:1em;
			}
		}
    }
}
.app_services_dropdown {
	position: relative;
	margin-bottom:20px;
}
.app_services_dropdown_select, 
.app_workers_dropdown_select, 
.app_service_locations_dropdown, 
.app_provider_locations_dropdown {
	padding:0;
}

.border-right {
	@include media($bp-large) {
		border-right:1px solid $base-border-color;
	}
}
.team-member {
	padding-top:50px;
	.image {
		display: block;
		margin-bottom:10px;
		.img {
			width:100%;
			@include media($bp-large) {
				height:300px;
			}
			overflow: hidden;
		}
	}
	&.block-grid-3 {
		.img {
			width:100%;
			height:180px;
			overflow: hidden;
		}
	}
}

.store-map {
	#map {
		height:500px;
		width:100%;	
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		&:before {
			content:"";
			position:absolute;
			left:0;
			width:100%;
			height:100%;
			background:$banner-bg;
			z-index:1;
			top:0;
		}
	}
}
.popup-box {
	display:none;
	position: fixed;
	z-index: 99999;
	background: #fff;
	width: 80%;
	left:10%;
	height: 80%;
	top:10%;
}
.popup-box-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding:50px;
}
.open-popup {
	overflow:hidden;
	.popup-overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: #000;
		position: fixed;
		z-index: 9999;
	}
	.popup-box {
		display:block;
	}
}
.cart-actions {
	margin-top:20px;
	overflow:hidden;
	@include media($bp-large) {
		.column-2 {
			margin-top:5px;
			margin-right:0;
			text-align:center;
			
		}
	}
}
.content-monograph {
	.column-7 {
		margin-bottom:10px;
		h5 {
			margin-bottom:0.5em;
		}
	}
}

.faq-content section {
	margin-bottom:2.5em;
}

.composition-list {
	li {
		@include span-columns(5);
		position: relative;
		@include media($bp-large) {
			@include span-columns(4 of 12);
		}
		&:nth-child(3n) {
			margin-right:0px;
		}
	}
}

#faq-contact-form {
	display:none;
	float: left;
	width: 100%;
}	