$oddeven-background: $light-grey;

.container {
    @include outer-container;
    overflow: hidden;
    position: relative;
    padding: 0 2em 0 2em;
}

.wrapper {
    background-color: $white;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
    @include transition(transform 0.5s);
    &.mm-menu-open {
	 	@include transform(translateX(-300px));
	}
}

.content-grid {
    width:100%;
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        width:75%;
    }	
	float: none;
	margin: 0 auto;
}

.secondary {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }
	section[role=contact-content] & {
		padding: 0 40px 50px;
		@include media($bp-large) {
			margin-left:auto;
			margin-right:auto;
			float: none;
			padding: 0 70px 70px;
		}
	}
}

.column-3 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }
}

.column-9 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(9 of 12);
    }
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.block-grid-3 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }
    &:nth-child(3n+1) {
        margin-right: 0;
    }
}

.block-grid-4 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }

    &:nth-child(4n) {
        margin-right: 0;
    }
}

section[role=main] {
    padding: 150px 0 0 0;
}

section[role=content] {
    padding: 75px 0;
	overflow:hidden;
	.page & {
		padding: 250px 0 75px;
	}
	.column-9 {
		@include media($bp-large) {
			border-right:1px solid $base-border-color;
		}	
	}
	.secondary:nth-of-type(1) {
		margin-left: 0;
		padding-left: 0;
	}
}

article {
    @include outer-container;
    @include pad(0 2em 2em 2em);
    aside {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                margin: 0 0 .5em 0em;
            }
        }
        @include pad(2em 0 0 0);
        @include media($bp-large) {
            @include pad(6.5em 0 0 0);
            @include span-columns(4);
            @include shift(1);
        }
    }
    .description {
        @include media($bp-large) {
            @include span-columns(7);
        }
    }
    .thumb {
        @include media($bp-large) {
            @include pad(3em 0 0 0);
            @include span-columns(4);
        }
    }
}

.inner {
    padding: 2em;
    @include media($bp-large) {
        @include span-columns(7);
        @include shift(2.5);
    }
}
.oddeven {
	padding:50px 0 20px;
	@include row();
	&:nth-of-type(1) {
		margin-top:1.5em;
	}
	&.team {
		&:nth-of-type(odd) {
			background: none;	
		}	
	}
	&:nth-of-type(odd) {
		background: $oddeven-background;	
		.image {
			@include media($bp-large) {
				float: left;
				padding-right:1em;
			}
		}
		.content {
			@include media($bp-large) {
				float: right;
			}
		}
	}
	&:nth-of-type(even) {	
		.image {
			@include media($bp-large) {
				float: right;
				padding-left:1em;
				img {
					float:right;
				}
			}
		}
		.content {
			@include media($bp-large) {
				float: left;
			}
		}
	}
	.image {
		width: 50%;
		img {
			border:5px solid $white;
		}
	}	
    .content {
		width: 50%;
		padding-top:20px;
    }
}
.app_services_dropdown {
	min-height: 185px;
	position: relative;
}
.app_services_dropdown_select, 
.app_workers_dropdown_select, 
.app_service_locations_dropdown, 
.app_provider_locations_dropdown {
	padding:0;
}