.container {
    @include outer-container;
    overflow: hidden;
    position: relative;
    padding: 0 2em 0 2em;
}

.wrapper {
    background-color: $white;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
    @include transition(transform 0.5s);
    &.mm-menu-open {
	 	@include transform(translateX(-300px));
	}
}

.span-2 {
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(2 of 12);
    }
}

.span-3 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }
}

.span-4 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }
}

.span-5 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(5 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-6 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-7 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(7 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-8 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(8 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-9 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(9 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
    header & {
        margin-right: 0;
		float: right;
    }
}

.span-10 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(10 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-11 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(11 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-12 {
    @include span-columns(4.5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(12 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.center {
    float: none;
    margin: 0 auto;
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.block-grid-3 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.block-grid-4 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }

    &:nth-child(4n) {
        margin-right: 0;
    }
}


section[role=main] {
    padding: 150px 0 0 0;
}

section[role=content] {
    padding: 75px 0;
	overflow:hidden;
	& h1, h2, h3, h4, h5, h6 {
		color: $purple;
		font-weight: normal;
		&:first-child {
			margin-top:0px;
		}
	}
}

article {
    @include outer-container;
    @include pad(0 2em 2em 2em);
    aside {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                margin: 0 0 .5em 0em;
            }
        }
        @include pad(2em 0 0 0);
        @include media($bp-large) {
            @include pad(6.5em 0 0 0);
            @include span-columns(4);
            @include shift(1);
        }
    }
    .description {
        @include media($bp-large) {
            @include span-columns(7);
        }
    }
    .thumb {
        @include media($bp-large) {
            @include pad(3em 0 0 0);
            @include span-columns(4);
        }
    }
}

.inner {
    padding: 2em;
    @include media($bp-large) {
        @include span-columns(7);
        @include shift(2.5);
    }
}
