.filter {
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    width: 100%;
    &:nth-of-type(1) {
        margin-top: 2em;
    }
	.filter-title {
		font-size:em(13px);
	}	
}
section[role="actions"] {
	ul {
		li {
			a {
				display: block;
				line-height:1.25em;
				padding-left: 25px;
				&:before {
					background:url(dist/images/checkbox.png) no-repeat;
					content:"";
					left: 0;
					height: 18px;
					position: absolute;
					width: 18px;
				}
				&:hover {
					&:before {
						background-position:-19px 0px;
					}
				}
				&.checked {
					&:before {
						background-position:-19px 0px;
					}
				}
			}
		}
	}
}

.filter-side {
	width:auto;
	float:right;
	ul {
		list-style:none;
		margin-bottom: 0;
		margin-top: 8px;
		overflow: hidden;
		li {
			float:left;
			margin-left:0px;
			margin-bottom:0;			
			margin-right:0.5em;
			padding-right:0.5em;
			border-right:1px solid $base-border-color;
			&:first-child {
				border-right:none;
			}
			&:last-child {
				border-right:none;
				margin-right:0em;
				padding-right:0em;
				& a:nth-child(2) {
					margin-left: 5px;
				}	
			}
		}
	}
}