footer {
	background: url(dist/images/footer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding:30px 0 70px;
    color: $white;
	.footer-logo {
		img {
			@include media($bp-large) {
				float:left;
			}
		}
		.newsletter-box {
			display:block;
			width:100%;
			@include media($bp-large) {
				width: 75%;
				margin-left: 120px;
			}
		}
	}
	h6 {
		margin-bottom:em(20px);
		margin-top:em(20px);
	}
	p {
		margin-bottom:0;
	}
}
