$footer-text-color:$white;

footer {
	background: url(dist/images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding:30px 0 70px;
    color: $footer-text-color;
	.footer-logo {
		img {
			@include media($bp-large) {
				float:left;
			}
		}
		.newsletter-box {
			display:block;
			width:100%;
			@include media($bp-large) {
				width: 75%;
				margin-left: 180px;
			}
		}
	}
}