header {
    //background-color: $white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 105px;
	 -webkit-transition: all 2s ease; // Chrome
    -moz-transition: all 2s  ease; // Mozilla
    -o-transition: all 2s  ease; // Opera
    transition: all 2s  ease;
    @include media($bp-large) {
        height: 90px;
    }

    //border-bottom: 1px solid $medium-gray;
	
	.header-content {
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom:2px solid $white;
	}
    .logo {
        float: left;
        height: auto;
        max-width: 175px;
        padding: .8em 0 0 0em;
        @include media($bp-large) {
            max-width: 225px;
        }
		
        a {
            display: block;
			color:$white;
			img {
				float: left;
			}
			span {
				display:block;
				vertical-align: top;
				margin-top:25px;
				margin-left:10px;
				float: left;
				font-size:em(20px);
			}
        }
    }
	.active-header & {
		background-color: $white;
		& .logo a {
			color:$purple;
		}
		.header-content {
			border-bottom:2px solid $purple;
			.main-menu-desktop {
				ul {
					li {
						a {
							color:$purple;
						}
					}
				}
			}
		}	
	}
}
