.top-header {
	position: fixed;
    width: 100%;
    z-index: 9999;
    @include transition(all 2s ease);
    .header-content {
		border-bottom:2px solid $header-border;
		height: 110px;
    }
    .logo {
        float: left;
        height: auto;
        max-width: 175px;
		font-family:$serif;
        padding: .8em 0 0.8em;
        @include media($bp-large) {
			max-width: 225px;
			padding: .8em 0 0;
        }
    }
	.container {
		overflow:visible;
	}
	&.active-header {
		background-color: $header-bg;
		.header-content {
			border-bottom:none;
		}	
	}
}