header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    @include transition(all 2s ease);
    .header-content {
		overflow: hidden;
		border-bottom:2px solid $header-border;
	}
    .logo {
        float: left;
        height: auto;
        max-width: 175px;
		font-family:$serif;
        padding: .8em 0 0.8em;
        @include media($bp-large) {
			max-width: 225px;
			padding: .8em 0 0;
        }
    }
	&.active-header {
		background-color: $header-bg;
		.header-content {
			border-bottom:2px solid $header-active-border;
		}	
	}
}