.main-menu-desktop {
	display:none;
	@include media($bp-large) {
    	display:block;
	}
}

/* =============================================================================
  MM - MATERIAL MENU
============================================================================= */

/**
 * MM - Material Menu
 *
 * All the styles for the material menu here! I've prefixed them all with "mm",
 * which means material menu.
 */

/**
 * Toggle Button
 *
 * a.k.a. hamburger icon. See the "resets" section for global button resets.
 */

$menu-toggle-width: 90px;
$menu-toggle-height: 26px;
$menu-toggle-layer-thickness: 4px;
$menu-gradient-stop-1: $menu-toggle-height/2 - $menu-toggle-layer-thickness/2;
$menu-gradient-stop-2: $menu-gradient-stop-1 + $menu-toggle-layer-thickness;
$toggle-button-color: $white; //$purple; // also for icons
$menu-background: $white;
$color--accent: $header-bg;

body.mm-menu-open {
	overflow: hidden;
	.down-arrow {
		z-index:-1;
	}
}

.mm-menu-toggle {
	position: fixed;
	top: 38px; 
	@include media($bp-large) {
		display:none;
	}
	.admin-bar & {
		top: 83px; 		 
		@include media($bp-large) {
			top: 50px; 
		}
	}
	right: 30px;
	padding-right: 35px;
	z-index: 21001;
	cursor:pointer;
	width: $menu-toggle-width;
	height: $menu-toggle-height;
	color:$white;
	font-size: 1.25em;
	line-height: 1.5em;
	&:after {
		background: url(dist/images/menu-buttons.png) 0 0 no-repeat;
		.active-header & {
			background-position:0 -32px;
		}
		content:"";
		display:block;
		height:26px;
		position:absolute;
		right:0;
		top: 4px;
		@include transition(0.5s all);
		width: 27px;
	}
	/* active states */
	&.active { 
		&:after {
			@include transform(rotate(360deg));
			background-position: -30px 0;
		}	
	}
}

/**
 * The actual menu
 *
 * Here be all the stuff for the menu itself.
 */

.mm-menu {
	position: fixed;
	top: 0; 
	right: 0;
	z-index: 1999;
	background-color: $menu-background;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	box-shadow: 0;
	@include transform(translateX(-100%));
	@include transition(transform 0.5s, box-shadow 0.5s);
	-webkit-overflow-scrolling: touch;
	&.active {
		box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		@include transform(translateX(0));
	}
}

@media all and ( min-width: 300px ) {
  .mm-menu {
    width: 300px;
   @include transform(translateX(300px));
  }
}

/* header */

.mm-menu__header {
	position: relative;
	width: 100%;
	height: 130px;
	background-color: $color--accent;
}

.mm-menu__title {	
	position: absolute;
	bottom: 12px; left: 12px;
	margin: 0;
	padding: 0;
	color: $white;
	font-size: em(22px);
	img {
		float: left;
	}
	span {
		display:block;
		vertical-align: top;
		margin-top:25px;
		margin-left:10px;
		color:$white;
		float: left;
		font-size:em(16px);
	}
}

/* list */

.mm-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mm-menu__item {
  display: block;
  width: 100%;
  opacity: 0;
  @include transform(translateX(-50%));
}

.mm-menu__item.in-view {
  opacity: 1;
  @include transform(translateX(0));
}

$delay: 0.1;
@for $i from 1 through 20 {
  .mm-menu__item.item-#{$i} {
    @include transition(opacity 0.5s #{$delay}s, transform 0.5s #{$delay}s);
  }
  $delay: $delay + 0.1;
}

.mm-menu__link {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 4px 0;
	padding: 12px;
	color: $body_font;
	text-decoration: none;
	@include transition(background 0.5s, color 0.5s);
}

.mm-menu__link-text {
  position: relative;
  z-index: 2;
}

/* the touch effect, for when a link is touched */

.mm-menu__link--touch-effect {
  display: block;
  position: absolute;
  z-index: 1;
  width: 0; height: 0;
  border-radius: 100%;
  @include transform(scale(0));
  @include transform-origin(50% 50%);
}

.mm-menu__link--touch-effect.animating {
   @include transform(scale(1));
  @include transition(transform 0.5s);
}

/**
 * Menu mask
 *
 * A mask that comes in and covers the wrapper when the menu is active.
 */

.mm-menu-mask {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0; left: 0;
	z-index: 10;
	width: 100%;
	display:block;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	@include transition(opacity 0.5s, visibility 0.5s);
	&.active {
		visibility: visible;
		opacity: 1;
	}
}