.product-container {
    min-height: 200px;
}

.product-list {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-left: 0px;
    position: relative;
    padding-bottom: 60px;
    li {
        @include row;
        @include omega;
        @include span-columns(5);
        position: relative;
        z-index: 100;
        @include transition(all 300ms cubic-bezier(0.215, 0.61, 0.355, 1));
        @include media($bp-large) {
            @include span-columns(4 of 12);
            margin-right: 4.35765%;
            width: 29.76157%;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        margin-bottom: 50px;
        margin-left: 0;
        h6.product-title {
            font-size: em(18);
            font-weight: normal;
            margin-bottom: 0.1em;
            margin-top: 0;
        }
        .product-image {
            display: block;
            .product-img {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 250px;
                overflow: hidden;
                position: relative;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .product-title {
            padding: 0.75em 1em;
            font-size: .8em;
            //min-height: 84px;
        }
        span.amount {
            font-size: em(18);
            font-weight: bold;
        }
        .product-action {
			height:40px;
            a {
                width: 100%;
                border-radius: 0px;
                margin-left: 0;
                font-size: 1em;
				margin-bottom: 0;
            }
        }
        .product-meta {
            //height: 124px;
        }
        &:hover {
            z-index: 200;
            .product-img {
                .overlay {
                    color: #6e6b8f;
                    background: #f7f7f7;
                    height: 100%;
                    .overlay-content {
                        display: block;
                    }
                }
                .details {
                    display: none;
                }
            }
            .product-meta {
                display: block;
            }
        }
    }
}

.shop-header {
    border-bottom: 1px solid $base-border-color;
	overflow: hidden;
    .heading {
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 0.5em;
		text-transform:uppercase;
    }
}
.sort-product { 
	a {
		text-transform:uppercase;
		margin-top: 10px;
		display: block;
        font-size: 1.2em;
		&.active-sort {
			color:$black;
		}
	}
}