.product-list {
	ul {
		display: block;
		list-style: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		overflow: hidden;
		padding-left: 0px;
		position: relative;
		padding-bottom: 0px;
		margin-top:0;
		&:nth-of-type(1) {
			margin-top:1.5em;
		}
		li {
			@include row;
			@include omega;
			@include span-columns(5);
			position: relative;
			z-index: 100;
			@include transition(all 300ms cubic-bezier(0.215, 0.61, 0.355, 1));
			@include media($bp-large) {
				@include span-columns(4 of 12);
				margin-right: 4.35765%;
				width: 29.76157%;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
			margin-bottom: 20px;
			margin-left: 0;
			h6.product-title {
				font-size: em(18);
				font-weight: normal;
				margin-bottom: 0.1em;
				margin-top: 0;
			}
			.product-image {
				display: block;
				.product-img {
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					height: 250px;
					overflow: hidden;
					position: relative;
					img {
						height: 100%;
						width: 100%;
					}
				}
			}
			.product-title {
				a {
					color:$base-font-color;
				}	
				padding: 0.75em 1em 0.75em 0;
				font-size: 1em;
				min-height: 80px;
			}
			span.amount {
				font-size: em(16);
				font-weight: bold;
				color:$heading;
			}
			.product-action {
				height:40px;
				a {
					width: 100%;
					border-radius: 0px;
					margin-left: 0;
					font-size: 1em;
					margin-bottom: 0;
				}
			}
			.product-meta {
				//height: 124px;
			}
			&:hover {
				z-index: 200;
				.product-img {
					.overlay {
						color: #6e6b8f;
						background: #f7f7f7;
						height: 100%;
						.overlay-content {
							display: block;
						}
					}
					.details {
						display: none;
					}
				}
				.product-meta {
					display: block;
				}
			}
		}
		&.list_view {
			&:nth-of-type(1) {
				margin-top:0.5em;
			}
			li {
				height:0;
				margin-bottom:35px;
				@include media($bp-large) {
					@include span-columns(12);
					margin-right:0;
				}
				.product-title {
					min-height:1px;
					padding-bottom:0;
				}
				.product-img {
					display:none;
				}
				.price {
					display:none;
				}
			}
		}
	}
	
}

.shop-header {
    border-bottom: 1px solid $base-border-color;
	overflow: hidden;
	position:relative;
    .heading {
        font-size: 1.2em;
		float: left;
        margin-bottom: 0.5em;
		text-transform:uppercase;
   }
}
.load-more {
	text-align: center;
	padding: 10px 0;
	overflow: hidden;
	&.list_view_mode {
		margin-top:50px;
	}
	a {
		background:$header-bg;
		@include border-radius(5px);
		color: $white;
		display:block;
		padding:10px 20px;
		width:100%;
	}
}
.back-to-results {
	padding-left:10px;
	&:before {
		@include arrow(left, $heading, 6px);
		content:"";
		left: 0;
		position: absolute;
		top: 9px;
	}
}

.single-product-content {
	.product_title {
		display:none;
	}
	.product_meta {
		display:none;
	}
	.price {
		del {
			display:block;
		}
		ins {
			display:block;
		}
	}
	td {
		vertical-align:top;
		label {
			font-weight:bold;
		}
	}
	#size {
		margin-left:20px;
		width: 90px;
	}
}