.woocommerce {
    &.single-product {
        section[role=main] {
            padding: 20px 0 50px;
        }
    }
    .button {
        @extend %button;
        @include appearance(none);
        border: none;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    .loading {
        @include appearance(none);
        display: block;
		left: 0;
        margin: 50px auto;
        text-align: center;
        top: 40%;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }
	.no-records {
		@include appearance(none);
		display:none;
		left: 0;
        margin: 50px auto;
        text-align: center;
        top: 40%;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
	}
    .sidebar {
		min-height: 200px;
        padding-bottom: 80px;
    }
}

.cart-contents {
    padding-right: 20px;
    .icon-shopping-cart {
        &:before {
            content: "\f07a";
        }
    }
}

.back-to-products {
    display: block;
    padding-bottom: 50px;
}

.breadcrumb {
    margin-top: 0.5em;
}

.single_variation_wrapper {
	.single_variation {
		display:none;
	}
}

.cart_totals {
	float:right;
	width:50%;
	@include media($bp-small) {
		float:left;
		width:100%;
	}
	table {
		width:100%;
	}
}
div[itemprop="offers"] {
	.price {
		display:none;
	}
}

.woocommerce .col2-set.addresses {
	div {
		@include span-columns(5);
		overflow: hidden;
		position: relative;
		@include media($bp-large) {
			@include span-columns(6 of 12);
		}
		margin-top:20px;
		text-align:left;
	}
}

.single-product-content{
	padding-top:30px;
}