button {
    @extend %button;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0.5em;
}

.button {
	background: $button-bg;
	color:$white;
	float: left;
	font-family:$sans-serif;
	font-size:1em;
	font-weight:normal;
	margin: 20px 0;
	padding: 8px 15px;
	text-transform:uppercase;
	&:hover, &:focus {
		background: $button-bg-hover;
		border-color: $light-purple;
		color:$white;
	}
	.banner-content & {
		border:2px solid $white;
		background:none;
		text-decoration: none;
		&:hover {
			background: $white;
			color:$light-purple;
		}
	}
}

.wc-proceed-to-checkout {
	& a.button {
		@include media($bp-large) {
			margin-right:10px;
		}
	}
}
input[type="button"] {
	@extend .button;
	border:none;
	font-size:0.8em;
	font-weight:normal;
	margin-right:10px;
	text-transform:uppercase;
}

.app_services_dropdown_select {
	input[type="button"] {
		@extend .button;
		border:none;
		bottom:0;
		font-size:0.8em;
		font-weight:normal;
		text-transform:uppercase;
		position: absolute;
	}
}
.appointments-form {
	input[type="submit"] {
		@extend .button;
		border:none;
		@include border-radius(0);
		font-weight:normal;
		text-transform:uppercase;
	}
}
#login-form {
	input[type="submit"] {
		@extend .button;
		width: 100%;
		margin: 0;
	}
}

.faq-content {
	.button {
		@include border-radius(0);
		//font-size:0.8em;
		//font-weight:normal;
		text-transform:uppercase;
	}
}

.gform_wrapper {
	.gform_button {
		@extend .button;
	}
}
.appointments-pagination a {
	@extend .button;
	border:none;
	font-weight:normal;
	@include border-radius(0);
	box-shadow:none;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	@extend .button;
	border:none;
	font-weight:normal;
	box-shadow:none;
	margin-top:0;
	font-size:1em;
	@include border-radius(0px);
	&:hover {
		background:$button-bg-hover;
	}
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	@extend .button;
	border:none;
	font-weight:normal;
	box-shadow:none;
	margin-top:0;
	font-size:1em;
	@include border-radius(0px);
	text-transform: uppercase;
}

.appointments-pagination {
	a {
		@extend .button;
		border:none;
		@include border-radius(0px);
		box-shadow:none;
		font-family:$sans-serif;
		font-size:0.8em;
		font-weight:normal;
		margin-top:0;
		text-transform: uppercase;
		text-shadow: none;
	}
}
.appointments-legend {
	font-family:$sans-serif;
	font-size:1em;
}

.cart-actions {
	.button {
		padding:9px 20px;
		text-transform:uppercase;
		@include border-radius(0px);
			&.edit-formula {
				background:none;
				border:1px solid $button-bg;
				color:$heading;
				text-shadow:none;
				&:hover {
					border-color:$button-bg-hover;
					text-shadow:none;
				}
			}
	}
}

.login-box #login-form{
	input[type="submit"] {
		@extend .button;
	}
}

.close-button {
	@include border-radius(50%);
	border:1px solid;
	width:25px;
	height:25px;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:1em;
	position:absolute;
	top:15px;
	right:15px;
	&:before {
		content:"\f00d";
		font-family:$icon-font;
	}
}