.accordion {
	margin-bottom:4em;		
	.faq-content & {	
		margin-bottom:1em;
	}
	.single-product-content & {
		margin-top:1em;
	}
	.accordion-panel {
		.accordion-panel-header {
			border-bottom:2px solid $base-border-color;
			position:relative;
			.faq-content & {	
				border-bottom:none;
				border-top:1px solid $base-border-color;				
				@include media($bp-large) {
					font-size: 1.25em;
				}
				&:after {
					@include arrow(bottom,$base-border-color,10px);					
					margin-top:8px;
					@include media($bp-large) {
						margin-top:8px;
					}
				}				
				&.active-header:after {
					@include arrow(top,$base-border-color,10px);
				}
			}
			cursor:pointer;
			font-size:1.25em;
			line-height:1.25;
			text-transform:none;
			@include media($bp-large) {
				font-size: 1.5em;
			}
			margin:0;
			padding: 0.75em 0;
			-webkit-user-select:none;
			-moz-user-select:none;
			-ms-user-select:none;
			user-select:none;
			&:after {
				@include arrow(bottom,$heading,10px);
				content:"";
				right:0;
				position:absolute;
				top:20px;
				@include media($bp-large) {
					top:26px;
				}
			}
			&.active-header:after {
				@include arrow(top,$heading,10px);
			}
		}
		.accordion-panel-content {
			padding-top:2em;
			.faq-content & {	
				padding-top:0em;
				.list {
					margin-top:0;
					li {
						a {
							color:$base-font-color;
							text-decoration:underline;
						}
					}
				}
			}
			display:none;
			&:first-child {
				display:block;
			}
			margin:0 auto; 
			img {
				display: inline-block;
				width: 45%;
				@include media($bp-large) {
					width: 28%;
				}
				margin: 0 2% 2em;
				vertical-align: middle;
			}
		}
	}	
}
.single-product-content {
	@extend .faq-content;
}
.past-courses {
	.accordion-panel {
		border-bottom:2px solid $base-border-color;
		.accordion-panel-header {
			border-bottom:none;
			font-size:1em;
			@include media($bp-large) {
				font-size:1.375em;
			}
		}
		.accordion-panel-content {
			padding-top:1em;
		}	
	}
}