button {
    @extend %button;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0.5em;
}

.button {
	background: $button-bg;
	padding: 8px 15px;
	float: left;
	margin: 20px 0;
	color:$white;
	&:hover,&:focus {
		background: $button-bg-hover;
		border-color: $light-purple;
		color:$white;
	}
	.banner-content & {
		border:2px solid $white;
		background:none;
		text-decoration: none;
		&:hover {
			background: $white;
			color:$light-purple;
		}
	}
}

input[type="button"] {
	@extend .button;
	border:none;
	font-size:0.8em;
	font-weight:normal;
	margin-right:10px;
	text-transform:uppercase;
}

.app_services_dropdown_select {
	input[type="button"] {
		@extend .button;
		border:none;
		bottom:0;
		font-size:0.8em;
		font-weight:normal;
		text-transform:uppercase;
		position: absolute;
	}
}
.appointments-form {
	input[type="submit"] {
		@extend .button;
		border:none;
		font-size:0.8em;
		font-weight:normal;
		text-transform:uppercase;
	}
}
#login-form {
	input[type="submit"] {
		@extend .button;
		width: 100%;
		margin: 0;
	}
}

.faq-content {
	.button {
		@include border-radius(0);
		font-size:0.8em;
		font-weight:normal;
		text-transform:uppercase;
	}
}

.gform_wrapper {
	.gform_button {
		@extend .button;
	}
}
.appointments-pagination a {
	@extend .button;
	border:none;
	font-weight:normal;
	@include border-radius(0);
	box-shadow:none;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	@extend .button;
	border:none;
	font-weight:normal;
	box-shadow:none;
	margin-top:0;
	font-size:1em;
	@include border-radius(5px);
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	@extend .button;
	border:none;
	font-weight:normal;
	box-shadow:none;
	margin-top:0;
	font-size:1em;
	@include border-radius(0px);
}

.appointments-pagination {
	a {
		@extend .button;
		border:none;
		@include border-radius(0px);
		box-shadow:none;
		font-family:$sans-serif;
		font-size:0.75em;
		font-weight:normal;
		margin-top:0;
		text-transform: uppercase;
		text-shadow: none;
	}
}
.appointments-legend {
	font-family:$sans-serif;
	font-size:1em;
}