button {
    @extend %button;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0.5em;
}

.button {
	background: $button-bg;
	padding: 8px 15px;
	float: left;
	margin: 20px 0;
	color:$white;
	&:hover {
		background: $button-bg-hover;
		border-color: $light-purple;
		color:$white;
	}
	.banner-content & {
		border:2px solid $white;
		background:none;
		&:hover {
			background: $button-bg-hover;
			color:$white;
			border-color:$button-bg-hover;
		}
	}
}

input[type="button"] {
	@extend .button;
	border:none;
	font-size:0.8em;
	font-weight:normal;
	margin-right:10px;
	text-transform:uppercase;
}

.app_services_dropdown_select {
	input[type="button"] {
		@extend .button;
		border:none;
		bottom:0;
		font-size:0.8em;
		font-weight:normal;
		text-transform:uppercase;
		position: absolute;
	}
}
#login-form {
	input[type="submit"] {
		@extend .button;
		width: 100%;
		margin: 0;
	}
}