.dk-select, 
.dk-select *, 
.dk-select *:before, 
.dk-select *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.dk-select {
	border-bottom: 1px solid $base-border-color;
	cursor: pointer; 
	display: block;
	line-height: 1.5em;
	margin-top:0em;
	margin-bottom:0.75em;
	position: relative;
	width: 100%;
	.dk-select-options {
		background-color: white;
		display: none;
		list-style: none;
		margin: 0;
		//max-height: 10.5em;
		min-width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0.25em 0;
		width: auto;
		z-index: 100; 	
		margin-top: 5px;
	}
	&.dk-select-open-up {
		.dk-select-options {
			display:block;
		}
	}
	&.dk-select-open-down {
		.dk-select-options {
			display:block;
			//max-height:10em;
		}
	}
}

.dk-selected {
	font-family:$header-font-family;
	color:$heading;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	padding: 5px 10px 5px 0;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis; 
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: 0; 
		top: 50%;
		@include arrow(bottom,$base-border-color,10px);
		margin: -0.125em 0.5em 0 0; 
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0; 
		top: 0;
		height: 100%;
		margin: -0.75em 0.5em 0 0; 
	}
	&:focus {
		outline:none;
	}
	.dk-select-open-down & {
		&:before {
			border:none;
		}	
	}
	.dk-select-open-up & {
		&:before {
			border:none;
		}
	}
}

.dk-option-selected {
	color:$heading;
	border-bottom:1px solid $heading;
}

.dk-option {
	padding: 0.5em 0 0;
	margin-bottom:0;	
}

.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {
	@include arrow(top,$base-border-color,10px);
}

select[data-dkcacheid] {
	display: none; 
}
  
.dk-search {
	width: 100%;
	display: none;
	.dk-select-open-up & {
		display: block;
	}
	.dk-select-open-down & {
		display: block;
	}
}

.dk-search-input {
	width: 100%;
	height: 100%;
	border: none;
	font: inherit;
	display: block;
	padding: 0 0.25em; 
	&:focus {
		box-shadow:none;
		outline: none; 
	}
}
.dk-option.hidden-option {
  display: none;
}