/* Inspired From: http://tympanus.net/Development/SelectInspiration */
.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	z-index: 100;
	margin-top:10px;
	margin-bottom:20px;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background:white;
	font-size: 1em;
	line-height:1em;
	max-width: 600px;
	select {
		display: none;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		max-height:300px;
		@include media($bp-large) {
			max-height:500px;
		}
		span {
			padding: 1em;
			&::after {
				content: '';
				opacity: 0;
			}
		}
		li {
			margin-left:0;
			border-left: 1px solid #999;
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
			margin-bottom: 0;
			&.cs-focus {
				span {
					background-color: #ddd;
				}	
			}
		}
	}
	&:focus {
		outline: none; /* For better accessibility add a style for this in your skin */
	}
	span {
		display: block;
		position: relative;
		cursor: pointer;
		padding: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	> span {
		padding-right: 3em;
		border: 1px solid #000;
		border-color: inherit;
		-webkit-transition: background 0.2s, border-color 0.2s;
		transition: background 0.2s, border-color 0.2s;
		&::after {
			font-family: 'icomoon';
			content: '\e000';
			right: 1em;
			speak: none;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.cs-options {
		position: absolute;
		overflow: hidden;
		width: 100%;
		background: #fff;
		display:none;
	}
	&.cs-active {
		.cs-options {
			display:block;
		}
	}
	.cs-selected {
		span { 
			&::after {
				font-family: 'icomoon';
				content: '\e000';
				margin-left: 1em;
				speak: none;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}


div.cs-skin-border {
	background: transparent;
	font-size: 1em;
	line-height: 1em;
	max-width: 600px;
}

@media screen and (max-width: 30em) {
	div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
	border: 1px solid #000;
	border-color: inherit;
	-webkit-transition: background 0.2s, border-color 0.2s;
	transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
	font-family: 'icomoon';
	content: '\e000';
}

.cs-skin-border ul span::after {
	content: '';
	opacity: 0;
}

.cs-skin-border .cs-selected span::after {
	content: '\e00e';
	color: #ddd9c9;
	font-size: 1.5em;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
	background: #fff;
	//border-color: #fff;
	color: #2980b9;
}

.cs-skin-border .cs-options {
	color: #2980b9;
	font-size: 0.75em;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border ul span {
	padding: 1em 2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
	background: #f5f3ec;
}