$login-form-bg: $white;
fieldset {
    border: 0;
    padding: 0;
    ol {
		padding: 0;
        li {
            display: inline-block;
            margin-bottom: 1em;
            margin:0;
        }
    }
	legend {
		h3 {
			font-size:1.5em;
		}
	}
	.appointments-confirmation-wrapper & {
		border: none;
		margin-top: 50px;
		padding: 20px 0;
	}
}

input,
label,
select {
    display: block;
    font-family: $form-font-family;
    font-size: $form-font-size;
}

label {
    font-size:1em;
	font-weight: normal;
    margin-bottom: $base-line-height / 4;
    &.required:after {
        content: "*";
    }
    abbr {
        display: none;
    }
}

textarea,
#{$all-text-inputs},
select {
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $form-border-radius;
    border: 1px solid $form-border-color;
    box-shadow: $form-box-shadow;
    font-family: $sans-serif;
    font-size: 1.2em;
	color:$form-text-color;
	line-height: 1.5em;
    margin-bottom: $base-line-height / 2;
    margin-right: 10px;
    padding: 3px 15px;
    width: 100%;
    &:hover {
        border-color: $form-border-color-hover;
    }
    &:focus {
        border: 1px solid $form-border-color;
		//border-color: $form-border-color-focus;
        box-shadow: $form-box-shadow-focus;
        color: rgb(54, 116, 187);
        outline: none;
    }
}

input[type="submit"] {
    -webkit-font-smoothing: antialiased;
    @include appearance(none);
    background: $light-green;
    border: none;
	color: $form-submit-button-color;
    cursor: pointer;
    font-family: $sans-serif;
    font-size: $base-font-size;
    font-size: 1.15em;
    padding: 6px 15px 7px;
	margin-left:-4px;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:hover {
        background: $hover-button-color;
        color: $form-submit-button-color;
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
    margin-right: $base-line-height / 4;
}

input[type="file"] {
    margin-bottom: $base-line-height / 2;
    padding-bottom: $base-line-height / 3;
    width: 100%;
}

select {
    margin-bottom: $base-line-height;
    max-width: 100%;
    width: auto;
}
footer {
	& input[type="text"],input[type="email"] {
		border-radius: 0; 
	}
}

.account-form {
	ul {
		margin-left:0;
		list-style:none;
		padding-left:0;
		li {
			margin-left:0;
		}
	}
	select {
		width: 100%;
	}
	.form-group {
		overflow:hidden;
	}
	.form-heading {
		padding-top: 50px;
		overflow: hidden;
		width: 100%;
	}
	.btn-primary {
		background:$button-bg;
		margin-top:20px;
		padding:5px 20px;
		text-transform:uppercase;
		font-size: 1em;
	}
}

.login-box {
	background: $login-form-bg;
	display:none;
	left: -108px;
	padding: 20px 25px;
	position: absolute;	
	top: 30px;
	width: 225px;
	z-index: 999;
	#login-form {
		margin-bottom: 0.5em;
		overflow: hidden;		
	}
	.status{
		color:$heading;
		display: none;
		margin-bottom:0.5em;
		text-align: left;
	}
	&:before {
		@include arrow(top, $white, 10px); 
		content:"";
		left: 118px;
		position: absolute; 
		top: -10px;
	}
}
.appointments-form {
	overflow:hidden;
}

input.search-box {
	font-size:0.8em;
	width:200px;
}