$login-form-bg: $white;
fieldset {
    border: 0;
    padding: 0;
    ol {
		list-style: none;
		padding: 0;
        li {
            display: inline-block;
            margin-bottom: 1em;
            margin:0;
        }
    }
	legend {
		h3 {
			font-size:1.5em;
		}
	}
	.appointments-confirmation-wrapper & {
		border: none;
		margin-top: 50px;
		padding: 20px 0;
	}
}

input,
label,
select {
    display: block;
    font-family: $form-font-family;
    font-size: $form-font-size;
}

label {
    font-size:1em;
	font-weight: normal;
    margin-bottom: $base-line-height / 4;
    &.required:after {
        content: "*";
    }
    abbr {
        display: none;
    }
}

textarea,
#{$all-text-inputs},
select {
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $form-border-radius;
    border: 1px solid $form-border-color;
    box-shadow: $form-box-shadow;
    font-family: $sans-serif;
    font-size: 1.2em;
	color:$form-text-color;
	line-height: 1.5em;
    margin-bottom: $base-line-height / 2;
    margin-right: 10px;
    padding: 3px 15px;
    width: 100%;
    &:hover {
        border-color: $form-border-color-hover;
    }
    &:focus {
        border: 1px solid $form-border-color;
		//border-color: $form-border-color-focus;
        box-shadow: $form-box-shadow-focus;
        color: rgb(54, 116, 187);
        outline: none;
    }
}

input[type="submit"] {
    -webkit-font-smoothing: antialiased;
    @include appearance(none);
    border: none;
	color: $form-submit-button-color;
    cursor: pointer;
    font-family: $sans-serif;
    font-size: $base-font-size;
    font-size: 1.2em;
    padding: 6px 15px 7px;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:hover {
        background: $hover-button-color;
        color: $form-submit-button-color;
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
    margin-right: $base-line-height / 4;
	vertical-align:middle;
}

input[type="file"] {
    margin-bottom: $base-line-height / 2;
    padding-bottom: $base-line-height / 3;
    width: 100%;
}

select {
    margin-bottom: $base-line-height;
    max-width: 100%;
    width: auto;
}
.woocommerce footer {
	& input[type="text"], & input[type="email"] {
		font-size:1.2em;
		padding: 3px 15px;
	}
}
footer {
	& input[type="text"],input[type="email"] {
		border: none;
		@include border-radius(0); 
		box-shadow:none;
		height:35px;
		&:hover,&:focus {
			border: none;
		}
	}
	input[type="submit"] {
		background: $light-green;
		color: $form-submit-button-color;
		height:35px;
		padding:7px 15px 7px;
		margin-left:-4px;
		&:hover {
			background: $hover-button-color;
			color: $form-submit-button-color;
		}
		@include border-radius(0);
		@include media($bp-small) {
			margin-left:0px;
		}
		text-transform:uppercase;
	}
}

.account-form {
	ul {
		margin-left:0;
		list-style:none;
		padding-left:0;
		li {
			margin-left:0;
		}
	}
	select {
		width: 100%;
	}
	.form-group {
		overflow:hidden;
	}
	.form-heading {
		padding-top: 50px;
		overflow: hidden;
		width: 100%;
	}
	.btn-primary {
		background:$button-bg;
		margin-top:20px;
		padding:5px 20px;
		text-transform:uppercase;
		font-size: 1em;
	}
}

.login-box {
	background: $login-form-bg;
	display:none;
	left: -108px;
	padding: 20px 25px;
	position: absolute;	
	top: 30px;
	width: 225px;
	z-index: 999;
	#login-form {
		margin-bottom: 0.5em;
		overflow: hidden;	
		& input[type="text"],& input[type="password"]{
			@include border-radius(3px);
		}
	}
	.status{
		color:$heading;
		display: none;
		margin-bottom:0.5em;
		text-align: left;
	}
	&:before {
		@include arrow(top, $white, 10px); 
		content:"";
		left: 118px;
		position: absolute; 
		top: -10px;
	}
}
.appointments-form {
	overflow:hidden;
	select {
		font-size:0.75em;
	}
}

input.search-box {
	font-size:0.8em;
	width:150px;
}

li.gfield+li.gfield.gfield_creditcard_warning {
	border:1px solid $error-border-color;
	padding:10px;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
	float:left;
	margin-right:10px;
}

.woocommerce {
	.qty {
		width: 65px;
		float: left;
		overflow: hidden;
		padding: 0px 0 0 7px;
		line-height: 1.5em;
		font-size: 1em;
		text-align: center;
	}
	.cart_item {
		border-top:1px solid $base-border-color;
	}
	.shop_table {
		width:100%;
	}
	.coupon {
		overflow: hidden;
		label {
			float: left;
			margin-top: 5px;
			margin-right: 10px;
		}
		.input-text {
			float:left;
			width:200px;
			margin-right: 15px;
		}
	}
	.button {
		margin-top:0;
		margin-bottom: 0;
		font-weight: normal;
		padding: 10px 25px;
	}
	& #{$all-text-inputs} , & select{
		@include border-radius(0px);
		@include box-shadow(none);
		font-size:1em;
		line-height:1.25em;
		padding: 5px 10px;
	}
	.form-row {
		label {
			font-size:0.9em;
			font-weight:bold;
			display:block;
			width:100%;
			text-align:left;
		}
		&#shipping_country_field label , &#billing_country_field label{
			width:auto;
		}
	}
	.woocommerce-billing-fields {
		margin-bottom:50px;
	}
	#ship-to-different-address {
		text-align:left;
		label {
			display:inline;
		}
	}
}

.select2-container .select2-choice {
	@include border-radius(0px);
	text-align:left;
}

.gform_wrapper {
	form {
		.top_label  {
			& li.gfield {
				margin-bottom:25px;
				&:last-child {
					margin-bottom:0px;
				}
			}
			.gfield_label {
				color:$heading;
				display:block;
				font-weight:normal;
				margin-bottom:0;
			}
			.name_first {
				input[type="text"] {
					margin-bottom:0;
				}
				label {
					display:none;
				}
			}
			& .gfield .gfield_checkbox {
				li  {
					label {
						color:$heading;
						font-weight:normal;
					}
					input[type=checkbox] {
						margin-top:5px;
						&:checked+label {
							font-weight:normal;
						}
					}
				}
			}
		}
		& .gfield canvas{
			margin-top:8px;
			margin-bottom:8px;
		}		
	}
}

.appointments-legend {
	overflow:hidden;
}

.appointments-pagination {
	margin-right:50px;
	margin-top:30px;
}
.woocommerce form .form-row label, 
.woocommerce-page form .form-row label {
	float:left;
}

.recipe-form {
	input {
		font-size:1em;
	}
	input[type="submit"] {
		float: none;
		margin:20px auto 0;
	}
	input[type="radio"] {
		display: none;
		&:checked + label:before {
			content: "\f192";
		}
	}
	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 20px;
		margin-right: 15px;
		&:before {
			@include border-radius(50%);
			content: "\f10c";
			color:$heading;
			display: inline-block;
			font-family:$icon-font;
			height: 16px;
			left: 0;
			margin-right: 10px;
			position: absolute;
			top: 0px;
			width: 16px;
			//border:1px solid $heading;
		}
	}
	.errors {
		margin-top:20px;
	}
}


.add-recipe-herb {
	margin:0 auto;
	width: 125px;
	div {
		width:120px;			
		margin:0 auto 10px;
		overflow:hidden;		
		&.size-input {
			width:90px;					
			padding: 0 15px;
			border-bottom:1px solid $dark-grey;
			&:after {
				content:"%";
				color:$heading;
				float: left;
				font-size: 2em;
				line-height: 1;
				margin-top: 2px;
				width: 25px;
			}
		}
	}
	& input[type="text"] {
		background:none;
		border:none;
		@include border-radius(0px);
		box-shadow: none;
		color:$heading;
		float:left;
		font-size:2em;
		line-height:1;
		margin:0;
		padding:0;
		width: 35px;
	}
	label {
		float:left;
		font-size:2em;
		margin-top:10px;
	}
	.button {
		margin-bottom:0px;
		text-transform:uppercase;
		width:100%;
	}
}

.errors {
	background:$dark-orange;
	color:$white;
	display:none;
	padding:15px;
	.error-header {
		text-transform:uppercase;
	}
	.error-content {
		ol {
			margin:0;
			padding-left: 1.5em;
			li {
				padding-left: 0;
				margin-left: 0;
			}
		}
	}
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

.search-input {	
	color:$heading;
	position: relative;
	input {
		color:$heading;
		padding-right: 30px;
	}
	.icon-search {
		font-style: normal;
		padding: 5px 12px 0px;
		pointer-events: none;
		position: absolute;
		right: 0px;
		font-family:$icon-font;
		&:before {
			content: "\f002";
		}
	}
}


.product-actions {
	ul {
		li {			
			input[type="radio"] {
				display: none;
				&:checked + label:before {
					content: "\f192";
				}
			}
			label {
				display: inline-block;
				cursor: pointer;
				position: relative;
				padding-left: 20px;
				margin-right: 15px;
				&:before {
					@include border-radius(50%);
					content: "\f10c";
					color:$heading;
					display: inline-block;
					font-family:$icon-font;
					height: 16px;
					left: 0;
					margin-right: 10px;
					position: absolute;
					top: 0px;
					width: 16px;
					//border:1px solid $heading;
				}
			}	
		}
	}
}

#payment {
	@extend .product-actions;
}

.woocommerce .shipping {
	@extend .product-actions;
	& ul#shipping_method {
		margin-left: 20px;
	}
}
.woocommerce table.cart td.actions .coupon .button {
	float:left;
	margin-bottom: 20px;
	width:auto;
	@include media($bp-large) {
		margin-left:10px;
	}
	&.update_cart {
		@include media($bp-large) {
			float:right;
		}
	}
}
.cart_totals table {
	width:100%;
	@include media($bp-large) {
		width:50%;
	}
}
.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions, 
.woocommerce-page table.cart td.actions {
	padding:20px 20px 0;
}
.form-cart-items {
	margin-bottom:30px;
	overflow-x:auto;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	@include border-radius(0px);
	@include box-shadow(none);
	display: block;
	font-size:1em;
	line-height:1.25em;
	margin-bottom: 20px;
	//width: 100%;
	width:300px;
	@include media($bp-large) {
		width:300px;
		margin-bottom: 0px;
	}
}

#compound-search-box {
	input {
		display:inline-block;
	}
	input[type="search"] {
		font-size:1em;
		width:100%;
	}
	input[type="submit"] {
		background: url(dist/images/search-icon.png) 15px 7px no-repeat;
		font-size: 0;
		height: 30px;
		position: absolute;
		right: 1px;
		top: 1px;
		width: 30px;
		outline:none;
	}
}