.small-loader {
	background:url(dist/images/loader-small.gif) no-repeat;
	width:100%;
	height:75px;
}

.loading {
	background:url(dist/images/loader.gif) center center no-repeat;
	width:100%;
	height:200px;
}

.divider {
	background: transparent url(dist/images/divider.png) no-repeat top center;
	background-size: 80%;
	margin-bottom: 45px;
	margin-top: 50px;
	padding-top: 110px;
	@include media($bp-large) {
		background-size: inherit;
		padding-top: 235px;
	}
	.home & {
		margin-bottom: 0px;
	} 
}

.sale {
	&:before {
		content:'';
		background: transparent url(dist/images/sale-icon.png) no-repeat;
		.list_view & {
			background: none;
		}
		left: 0;
		height:75px;
		width:75px;
		position:absolute;
		top: 0;
		z-index: 1;
	}
}

.error-info {
	color:$error-color;
	margin:0;
	display:none;
}