.small-loader {
	background:url(dist/images/loader-small.gif) no-repeat;
	width:100%;
	height:75px;
	&.pop-up-action {
		background-position: top center;
		height: 30px;
		margin-top: 0;
		padding-top: 0;
	}
}

.loading {
	background:url(dist/images/loader.gif) center center no-repeat;
	width:100%;
	height:200px;
	&.errors {
		background:$dark-orange url(dist/images/loader-small.gif) center center no-repeat;
		height:70px;
	}
}

.divider {
	background: transparent url(dist/images/divider.png) no-repeat top center;
	background-size: 80%;
	margin-bottom: 45px;
	margin-top: 50px;
	padding-top: 110px;
	@include media($bp-large) {
		background-size: inherit;
		padding-top: 235px;
	}
	.home & {
		margin-bottom: 0px;
	} 
}

.sale {
	&:before {
		content:'';
		background: transparent url(dist/images/sale-icon.png) no-repeat;
		.list_view & {
			background: none;
		}
		left: 0;
		height:75px;
		width:75px;
		position:absolute;
		top: 0;
		z-index: 1;
	}
}

.error-info {
	color:$error-color;
	margin:0;
	display:none;
}

.spinner {
	background:url(dist/images/spinner.gif) no-repeat center center;
	opacity:0.7;
}

.title-monograph {
	.printfriendly {
		display:none;
		margin-left:20px;
		@include media($bp-large) {
			display:block;
		}
		& a span {
			background:url(dist/images/print-pdf-icon.jpg) no-repeat center center;
			background-size:90%;
			display: none;
			height: 25px;
			text-indent: -9999px;
			width: 62px;
			@include media($bp-large) {
				display:block;
			}
			img {
				display:none;
			}
		}
	}
}
.icon-download {
	display:block;
	margin-top:10px;
	padding-left:30px;
	position:relative;
	&:before {
		content:"\f019";
		font-family:$icon-font;
		font-size:1.25em;
		left:0;
		line-height: 1;
		position:absolute;
		top:0;
	}
}
.add-formula {
	float: right;
	font-weight:bold;
	position:relative;
	a {
		background: url(dist/images/add-formula-icon.jpg) no-repeat;
		background-position: right top;
		display: block;
		height: 60px;
		line-height: 1.5em;
		margin-top: 10px;
		text-align: right;
		width: 165px;
		span {
			display: block;
			line-height: 1.2em;
			width: 80px;
			padding-top: 15px;
		}
	}
}

.icon-cart {
	display: inline-block;
	font-size:0;
	height: 20px;
	margin-right: 10px;
	position:relative;
	width: 20px;
	&:before {
		content:"\f07a";
		font-family:$icon-font;   
		font-size:20px; 
		height: 100%;
		left: 0;
		position: absolute;	
		width: 100%;
		top:-5px;
	}
}