$popup-bg: $white;
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity=80); 
}

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; 
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
 }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; 
 }

.mfp-inline-holder .mfp-content {
	background:$popup-bg;
	width:60%;
	top:15%;
	padding:0 50px 30px;
	cursor: auto; 
}

.mfp-hide {
	display: none;
}

.popup-modal-dismiss {
	position:absolute;
	right: 25px;
	top: 25px;
	width: 20px;
	text-indent: -9999px;
	background:url(dist/images/close-button.png) no-repeat;
}
.popup-modal {
	font-weight:500;
	margin-right:10px;
}