section[role=banner] {
    background-color: $white;
    position: fixed;
    width: 100%;
    z-index: 999;
    header {
        height: 90px;
        .logo {
            float: left;
            height: auto;
            max-width: 175px;
            padding: .8em 0 0 2em;
            @include media($bp-large) {
                max-width: 250px;
            }
        }
    }
}
