.product-list {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-left: 0px;
    position: relative;
    li {
        @include row;
        @include omega;
        @include span-columns(5);
        @include media($bp-large) {
            @include span-columns(4 of 12);
            margin-right: 4.35765%;
            width: 29.76157%;
        }

        border: 1px solid grey;
        &:nth-child(3n) {
            margin-right: 0;
        }
        //color: $white;
        margin-bottom: 50px;
        margin-left: 0;
        h6.product-title {
            font-size: em(18);
            font-weight: normal;
            margin-bottom: 0.1em;
            margin-top: 0;
        }
        .product-image {
            display: block;
            .product-img {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 250px;
                overflow: hidden;
                position: relative;
                img {
                    //display: none;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .product-title {
            //color: #FFF;
            //background: $blue;
            padding: 0.75em 1em;
        }
        span.amount {
            font-size: em(18);
            //font-family: $san-serif;
            font-weight: bold;
        }
        &:hover {
            @include transition(all 0.5s ease);
            .product-img {
                .overlay {
                    color: #6e6b8f;
                    background: #f7f7f7;
                    height: 100%;
                    .overlay-content {
                        display: block;
                    }
                }
                .details {
                    display: none;
                }
            }
        }
        .product-action {
            a {
                width: 100%;
                border-radius: 0px;
                margin-left: 0;
            }
        }
    }
}

.shop-header {
    border-bottom: 1px solid #e0dfdf;
    .heading {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0.5em;
        font-weight: normal;
    }
}
