.woocommerce {
    .button {
        @extend %button;
        @include appearance(none);
        border: none;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    .sidebar {
        h6 {
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: 1.5em;
        }
    }
    .filter {
        list-style: none;
        padding-left: 0;
        li {
            margin-left: 0;
            font-size: 0.8em;
            border-bottom: 1px solid lightgrey;
            a {}
        }
    }
}

.cart-contents {
    display: inline-block;
    padding-right: 20px;
    .icon-cart {
        background: url(images/icon-cart.png) no-repeat 0 0;
        display: inline-block;
        height: 18px;
        margin-left: 5px;
        margin-top: 5px;
        width: 25px;
    }
    &:hover .icon-cart {
        background-position: 0 -19px;
    }
}

.back-to-products {
    display: block;
    padding-bottom: 50px;
}

.breadcrumb {
    margin-top: 0.5em;
}
