body {
    -webkit-font-smoothing: antialiased;
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $unitless-line-height;
}
//Modular scale based on: http://modularscale.com/scale/?px1=20&px2=734&ra1=1.618&ra2=0
pre {
	overflow: visible;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    text-rendering: optimizeLegibility;
	font-weight: normal;	
	color:$heading;
	.banner-content &, footer & {
		color:$white;
	}
	section[role=content] & {
		&:first-child {
			margin-top:0px;
		}
	}
}

h1 {
    font-size: em(36px);
	line-height: 1.0909em;
	font-weight: normal;
    @include media($bp-large) {
        font-size: em(70px);
        margin-bottom: 0.3636em;
    }
    .single & {
        text-align: center;
    }
	.single-monograph & {
		text-align: left;
	}
}

h2 {
    font-size: $base-font-size * 1.5;
    @include media($bp-large) {
        font-size: $base-font-size * 3.25;// 16 * 3.25 = 52px
        line-height: 1.3846em;
        margin-bottom: 0.4615em;
    }
}

h3 {
    font-size: $base-font-size;
    @include media($bp-large) {
        font-size: $base-font-size * 2.25;
        line-height: 1.1707em;
        margin-bottom: 0.5854em;
    }
}

h4 {
    font-size: $base-font-size;
	margin-top:0;
    @include media($bp-large) {
        font-size: $base-font-size * 1.875;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 1.2em;
        margin-bottom: 0.75em;
    }
}

h5 {
    font-size: $base-font-size;
    @include media($bp-large) {
        font-size: $base-font-size * 1.625;
        line-height: 1.5em;
		margin-bottom: 0.25em;
		margin-top: 0.5em;
    }
}

h6 {
    font-size: $base-font-size;
    @include media($bp-large) {
        font-size: $base-font-size * 1.25;
        line-height: 1.2em;
        margin-bottom: 1.2em;
    }
}

p, ul, ol {
    font-size: $base-font-size;
    list-style-type: disc;
    @include media($bp-large) {
        font-size: em(16px);
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }
}

li {
    margin: 0 0 .5em 2.5em;
}
a {
    @include transition(color 0.1s linear);
    color: $base-link-color;
    text-decoration: none;
    &:hover {
        color: $hover-link-color;
    }
    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
	p {
		color:$base-font-color;
	}
}
hr {
    border-bottom: 1px solid $base-border-color;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 20px 0 10px;
	width:100px;
	.account-form & {
		border-bottom: 2px solid $base-border-color;
		margin: 20px 0 0px;
		width:100%;
	}
}
img {
    margin: 0;
    max-width: 100%;
}
blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: $base-line-height 0;
    padding-left: $base-line-height / 2;
}
cite {
    color: lighten($base-font-color, 25);
    font-style: italic;
    &:before {
        content: '\2014 \00A0';
    }
}
.error {
    @include flash($error-color);
    display: none;
    @include media($bp-large) {
        @include shift(2);
        @include span-columns(8);
    }
}
.success {
    display: none;
    text-align: center;
}
small {
    font-family: $sans-serif;
    font-size: .9em;
}
nav {
    font-family: $serif;
}
.headline, .subhead {
    color: $white;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.headline {
    font-size: $base-font-size * 7;
    width: 90%;
}
.subhead {
    font-size: $base-font-size * 2.5;
}
.wf-loading {
    visibility: hidden;
}
.thumb {
	text-align:center;
}
footer {
	a {
		@include transition(color 0.1s linear);
		border-bottom: none;
		color: $white;
		&:hover {
			color: #ccc;
		}
		&:active, &:focus {
			color: $hover-link-color;
			outline: none;
		}
	}
	& ul, ol {
		font-family: $sans-serif;
        font-size: 0.9em;
        line-height: $base-line-height;
        margin-bottom: 0.5em;
	}
	h5 {
		margin-bottom:em(0px);
		margin-top:em(15px);
	}
	h6 {
		margin-bottom:em(20px);
		margin-top:em(20px);
	}
	p {
		font-family: $sans-serif;
        font-size: 0.9em;
        line-height: $base-line-height;
        margin-bottom:0;
	}
	& .copyright p {
		font-family: $serif;
		margin-top: 0;
	}
}
.content-grid {
	text-align:center;
	.sub-heading { 
		color: $sub_heading;
		margin-top:0;
		margin-bottom:0.925em;
	}
}
.main-menu-desktop {
	display:none;
	@include media($bp-large) {
    	display:block;
	}
    ul {
        color: $menu-color;
        font-family:$sans-serif;
		list-style-type: none;
		margin-bottom: 0em;
		text-align: right;
		width: 100%;
		li {
            display: inline;
            font-size: em(16px);
            font-weight: 300;
            margin-left: 0;
            @include media($bp-large) {
                margin-left: 2em;
            }
            a {
                color: $menu-color;
                &:hover {
                    color: $menu-color-hover;
                }
            }			
			&.current-menu-item {
				a {
					color:$menu-color-active;
					font-weight:400;
				}
			}
        }		
		&:nth-child(1) {
			margin-top: 1.5em;
			li {
				font-size: em(13px);
				position:relative;
			}
		}
		&:nth-child(2) {
			margin-bottom: 1em;
			margin-top: 0.5em;
		}
    }	
}
.team-member {
	.content {
		h5 {
			margin-bottom:0;
		}
		& p:nth-of-type(1) {
			margin-top:0;
			padding-top:0;
		}
		& p.designation {
			position:relative;
			margin-bottom:40px;
			&:after {
				border: 1px solid $team-designation-border;
				bottom: -30px;
				content: "";
				left: 0px;
				position: absolute;
				width: 50px;
			}
		}
		.team-content {
			max-height:5.75em;
		}
	}
}
.no-records {	
	font-family:$serif;
	font-size:em(20px);
	color:$heading;
}
.woocommerce {
	.sidebar {
        .filter-actions {
            h6 {
                margin-bottom: 0.5em;
            }
        }
	}
}

.login-button {
    a {
        color: $white;
        &:hover {
            color: $medium-grey;
        }
    }
}

header {
	.logo {
		a {
            display: block;
			color:$white;
			img {
				float: left;
			}
			span {
				display:none;
				@include media($bp-large) {
					display:block;
				}					
				vertical-align: top;
				margin-top:32px;
				margin-left:10px;
				float: left;
				font-size:em(25px);
			}
        }
	}
}

.mm-menu {
	ul {
        list-style: none;
        margin: 20px 0 0;
        padding: 0;
		li {
			margin-left:0;
			padding-left:40px;
			a {
				display: block;
				position: relative;
				overflow: hidden;
				margin: 4px 0;
				padding: 12px;
				color: $menu-color-hover;
				text-decoration: none;
				@include transition(background 0.5s, color 0.5s);
				&:hover {
					color:$hover-link-color;
				}
			}
		}
	}
}

.contact {
	.secondary {
		color:$base-font-color;
		a {
			color:$base-font-color;
			&.button {
				color:$white;
			}
			&.view-map {
				margin-left:8px;
			}
		}
		p {
			margin:0;
			@include media($bp-large) {
				font-size:1.375em;
			}
			span {
				color:$heading;
				font-weight:bold;
			}
		}
		h2 {
			margin-bottom: 0em;
			margin-top: 0;
			padding-bottom: 0;
		}
	}
}	

.app_services {
	.app_services_dropdown {
		font-family: $base-font-family;
		.app_services_dropdown_title {
			color: $heading;
			font-family: $header-font-family;
			font-weight: normal;
		}
		select {
			width:250px;
			margin-bottom:0;
		}
	}
}
.app_workers {
	.app_workers_dropdown {
		font-family: $base-font-family;
		.app_workers_dropdown_title {
			color: $heading;
			font-family: $header-font-family;
			font-weight: normal;
		}
		select {
			width:250px;
		}
	}
}
.appointments-wrapper,.appointments-confirmation-wrapper {
	font-family:$base-font-family;
	h3 {
		@extend h3;
		text-transform:none;
	}
}
.app_timetable {
	margin-left:0px;
	margin-top:20px;
	@include media($bp-large) {
		margin-left:15px;
		margin-top:0px;
	}
}
.app_monthly_schedule_wrapper table th {
	padding:15px 0;
}

section[role=content] {
	.course-heading {
		h3 {
			color:$base-font-color;
			display:inline-block;
			float:left;
			margin-bottom:0.4em;
		}
		.button {
			float:right;
			display:inline-block;
			font-size:0.8em;
			margin-top:0;
			@include media($bp-large){
				margin:0;
			}
		}
	}
}

.post-course {
	overflow: hidden;
	width: 100%;
	margin-bottom:30px;
	padding-bottom: 10px;
	.content {
		max-height:5.5em;
	}
	border-bottom:1px solid $base-border-color;
	h4 {
		margin-bottom: 0.2em;
		margin-top: 0;
	}
}
.more-link {
	font-family: $header-font-family;
	margin-top:10px;
	max-width:115px;
	&:after {
		@include arrow(bottom,$heading,8px);
		content:"";
		float:right;
		margin-top:8px;
		@include media($bp-large) {
			margin-top:10px;
		}
	}	
	&.less {
		&:after {
			@include arrow(top,$heading,8px);
		}	
	}
}
.sidebar {
	ul {
		padding-left:0;
		list-style:none;
		li {
			margin-left:0;
			&.current-cat {
				a {
					color:$heading;
					font-weight:500;
				}
			}
			a {
				color: $base-font-color;
				&:hover {
					color: $hover-link-color;
				}
			}
		}
	}	
	h5 {
		margin-bottom:0;
	}
	h6 {
		font-size:0.9em;
		margin:0;
	}
}

.meta {
	overflow:hidden;
	ul {
		padding-left:0;
		list-style:none;
		margin-top:0;
		li {
			margin-left:0;
			float:left;
			padding-right:20px;
			position:relative;
			font-size:0.8em;
			&:last-child {
				margin-right:0px;
				&:after {
					content:"";
				}
			}
			&:after {
				content:"\00B7";
				position:absolute;
				right: 7px;
				font-size:1.75em;
			}
		}
	}
}

.shop-header {
    border-bottom: 1px solid $base-border-color;
	overflow: hidden;
	.heading {
		color: $heading;
		font-family:$header-font-family;
		font-size: 1.2em;
		line-height: 1.5em;
		margin: 0 0 0.5em;
		text-transform: uppercase;
    }
}

.login-box {
	img {
		display: block;
		margin:0 auto;
	}
	h5 {
		color:$heading;
		text-align:center;
	}
	a.lost {
		color:$heading;
		float:left;
	}
}
.course-action {
	padding:20px 0 30px;
	h4 {
		float:left;
		margin-right:30px;
	}
	.button {
		margin-top:0;
	}
}
.appointment-sidebar {
	&:nth-of-type(1) {
		& h5:after {
			background:url(dist/images/pdf-icon.jpg) 15px 0px no-repeat;
			content:'';
			height:35px;
			width:60px;
			position:absolute;
		}
	}
	ul {
		li {
			a {
				color:$heading;
				font-weight:500;
				text-decoration:underline;
			}
		}
	}
}
.banner-content {
	a {
		color:$white;
		text-decoration:underline;
	}
}
.list {
	list-style:none;
	margin-bottom: 1em;
	padding-left:0;
	overflow: hidden;
	li {
		margin-left:0;
	}
}
.product-title {
	margin-top: 15px;
	overflow:hidden;
	@include media($bp-large) {
		margin-top: 0px;
	}
	h4 {
		float:left;
	}
	.view-monograph {
		display: block;
		float: left;
		font-size:em(12px);
		margin-left: 10px;
		margin-top: 3px;
		text-decoration:underline;
		@include media($bp-large) {
			margin-top: 15px;
		}
	}	
}
.message {
	margin-top:50px;
}