.product-list {
	ul {
		display: block;
		list-style: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		overflow: hidden;
		padding-left: 0px;
		position: relative;
		padding-bottom: 0px;
		margin-top:0;
		&:nth-of-type(1) {
			margin-top:1.5em;
		}
		li {
			@include row;
			@include omega;
			@include span-columns(5);
			position: relative;
			z-index: 100;
			@include transition(all 300ms cubic-bezier(0.215, 0.61, 0.355, 1));
			@include media($bp-large) {
				@include span-columns(4 of 12);
				margin-right: 4.35765%;
				width: 29.76157%;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
			margin-bottom: 20px;
			margin-left: 0;
			h6.product-title {
				font-size: em(18);
				font-weight: normal;
				margin-bottom: 0.1em;
				margin-top: 0;
			}
			.product-image {
				display: block;
				.product-img {
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					height: 250px;
					overflow: hidden;
					position: relative;
					img {
						display:none;
						height: 100%;
						width: 100%;
					}
				}
			}
			.product-title {
				a {
					color:$base-font-color;
				}	
				padding: 0.75em 1em 0.75em 0;
				.your-formulas & {
					min-height: auto;
					padding: 0.75em 0em 0em 0;
				}
				font-size: 1em;
				min-height: 80px;
			}
			.cart-action {
				overflow: hidden;
				padding:20px 0;
				text-align: center;
				text-transform:uppercase;
				a {
					color:$white;
					float:none;
				}
				div {
					-webkit-animation: fa-spin 2s infinite linear;
					animation: fa-spin 2s infinite linear;
					width:30px;
					position:relative;	
					display:inline;
					visibility:hidden;
					&:before {
						content: "\f110";
						font-family:$icon-font;
						width:30px;
						height:30px;
						position:absolute;
					}
					&.added-cart {
						animation:none;
						&:before {
							content:"\f00c";
						}
					}	
				}
			}
			.herbs-name {
				font-size:0.8em;
				font-style:italic;
			}
			span.amount {
				font-size: em(16);
				font-weight: bold;
				color:$heading;
			}
			.product-action {
				height:40px;
				a {
					width: 100%;
					border-radius: 0px;
					margin-left: 0;
					font-size: 1em;
					margin-bottom: 0;
				}
			}
			.product-meta {
				//height: 124px;
			}
			&:hover {
				z-index: 200;
				.product-img {
					.overlay {
						color: #6e6b8f;
						background: #f7f7f7;
						height: 100%;
						.overlay-content {
							display: block;
						}
					}
					.details {
						display: none;
					}
				}
				.product-meta {
					display: block;
				}
			}
		}
		&.list_view {
			@include outer-container;
			&:nth-of-type(1) {
				margin-top:0.5em;
			}
			li {
				height:auto;
				margin-bottom:10px;			
				@include media($bp-large) {
					@include span-columns(3 of 12);
					@include omega(4n);
				}
				.product-meta {
					padding-right:0;
					overflow:hidden;
				}
				.product-title {
					display: block;
					float: left;
					min-height:1px;
					padding-bottom:0;
					padding-right:0;
					a {
						overflow:hidden;
						&:hover {
							border-bottom:1px solid $heading;
							color:$heading;
						}
					}
				}
				.product-img {
					display:none;
				}
				.price {
					display:none;
				}
			}
		}
	}
	&.compound-list {		
		ul {
			li {
				@include span-columns(12);
				margin-bottom:10px;
			}
		}
	}
	
}

.shop-header {
    border-bottom: 1px solid $base-border-color;
	overflow: hidden;
	position:relative;
    .heading {
        font-size: 1.2em;
		float: left;
        margin-bottom: 0.5em;
		text-transform:uppercase;
   }
}
.load-more {
	text-align: center;
	padding: 10px 0;
	overflow: hidden;
	&.list_view_mode {
		margin-top:50px;
	}
	a {
		background:$header-bg;
		@include border-radius(5px);
		color: $white;
		display:block;
		padding:10px 20px;
		width:100%;
	}
}
.back-to-results {
	padding-left:10px;
	&:before {
		@include arrow(left, $heading, 6px);
		content:"";
		left: 0;
		position: absolute;
		top: 9px;
	}
}

.single-product-content {
	& h1.product_title {
		display:none;
	}
	.product-title {
		h4 {
			@include media($bp-large) {
				margin-bottom:0px;
			}
		}
	}
	div[itemprop="description"] {
		display:none;
	}
	.product-content {
		margin-top:15px;
		border-top:1px solid $base-border-color;
		padding-top:10px;
	}
	.product_meta {
		display:none;
	}
	.product-actions {
		ul {
			list-style:none;
			margin:10px 0 0;
			padding-left:0;
			overflow:hidden;
			li {
				margin-left:0;
				margin-bottom:5px;
				overflow: hidden;
				input[type="radio"] {
					vertical-align:middle;
				}
				label {
					display:inline;
				}
				span {
					display: inline-block;
					float: left;
					margin-right:15px;
					margin-top:10px;
					&.size-unit {
						margin-top:0;
						margin-right:5px;
					}
					& a.button {
						margin-bottom:0;
						@include border-radius(3px);
					}
				}
			}
		}
	}
	.price {
		del {
			display:block;
		}
		ins {
			display:block;
		}
	}
	td {
		vertical-align:top;
	}
	#size {
		margin-left:20px;
		width: 90px;
	}
}
.woocommerce div.product form.cart .variations label,.shipping label {
	display: inline-block;
	font-weight:normal;
	vertical-align: middle;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	color:$base-font-color;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
	font-weight:normal;
	text-decoration:none;
}

.your-formulas h6 a {
	border-bottom:1px solid;
	&:hover {
		border-bottom:none;
	}
}