.woocommerce {
    &.single-product {
        section[role=main] {
            padding: 20px 0 50px;
        }
    }
    .loading {
        @include appearance(none);
        display: block;
		left: 0;
        margin: 50px auto;
        text-align: center;
        top: 40%;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }
	.no-records {
		@include appearance(none);
		display:none;
		left: 0;
        margin: 50px auto;
        text-align: center;
        top: 40%;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
	}
    .sidebar {
		min-height: 200px;
        padding-bottom: 80px;
    }
}

.cart-contents {
    padding-right: 20px;
    .icon-shopping-cart {
        &:before {
            content: "\f07a";
        }
    }
}

.back-to-products {
    display: block;
    padding-bottom: 50px;
}

.breadcrumb {
    margin-top: 0.5em;
}

.single_variation_wrapper {
	.single_variation {
		display:none;
	}
}

.cart_totals {
	float:right;
	width:50%;
	@include media($bp-small) {
		float:left;
		width:100%;
	}
	table {
		width:100%;
	}
}
div[itemprop="offers"] {
	.price {
		display:none;
	}
}

.woocommerce .col2-set.addresses {
	div {
		@include span-columns(5);
		overflow: hidden;
		position: relative;
		@include media($bp-large) {
			@include span-columns(6 of 12);
		}
		margin-top:20px;
		text-align:left;
	}
}

.single-product-content{
	padding-top:30px;
}
.woocommerce table.shop_table.order_details {
	margin-bottom:1.75em;
	@include media($bp-large) {
		margin-bottom:2.5em;
	}
}
.order-again {
	overflow:hidden;
}

.my_account_orders {
	text-align:left;
	ul {
		list-style:none;
		margin:0;
		padding:0;
		li {
			border:1px solid $base-border-color;
			margin-bottom:40px;
			margin-left:0;
			&:nth-child(even) {
				background: $oddeven-background;
			}
			.order-head {				
				padding:0 10px;
				@include media($bp-large) {
					border-bottom:1px dashed $base-border-color;
					padding:10px;
				}
				overflow:hidden;
				&:first-child {
					padding-top:10px;	
				}
				.secondary:last-child {
					@include media($bp-large) {
						text-align:right;
					}
				}
				.orderId {
					font-weight:bold;
				}
			}
			.order-content {
				padding:10px;
				overflow:hidden;
				.button {
					margin-bottom: 0;
					float: right;
				}
			}
		}
	}
}